.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

body {
    color: black;
}

.container {
  position: relative;
  width: 100%;
  height: 150px;
}

.image-container {
  width: 100%;
  height: 0;
  padding-top: 45.347%;
  position: sticky;
  top: 0;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1611744314001-6f555577e8f4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80');
}